.h_title {
  font-family: 'Dosis', sans-serif;
  font-size: 150px;
  font-style: italic;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 8px gray;
  margin: 0;
  padding: 0;
}
.h_one {
  font-family: 'Dosis', sans-serif;
  font-size: 150px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;

}
.h_two {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: white;
}
.h_three {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
.h_four {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: white;
}
.h_five {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}
a {
  text-decoration: none;
}


.menu {
  padding: 10px;
  background-color: #696969;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
  text-align: right;
}

.logo {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px 8px gray;
  margin: 0;
  padding: 0;
}

.titl {
  text-align: center;
  padding: 30px;
  padding-top: 200px;
}

.caro_img {
  width: 100%;
  height: 70%;
  opacity: .8;
}

.full {
  background-color: #2e2e2e;
}

.contain_in {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a a"
    "b c"
  ;
}

.scrolling {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.new_rel {
  grid-area: a;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nr_pix {
  margin-top: 10px;
}

.nr_img {
  width: 120px;
  height: 120px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.top_chart {
  grid-area: b;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;

}

.tc_img {
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}

.tc_info {
  display: inline-block;
  vertical-align: bottom;
  margin: 10px;

}

.news_feed {
  grid-area: c;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.story {
  margin-top: 10px;
}

.nf_img {
  width: 95%;
  height: 10%;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nf_cap {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer {

}

.contain_mu1 {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "aa bb cc"
  ;
}
.name {
  grid-area: aa;
  padding: 15px;
  margin: 15px;
  margin-bottom: 0px;
}
.view1 {
  grid-area: bb;
  padding: 15px;
  margin: 15px;
  margin-bottom: 0px;
}
.view2 {
  grid-area: cc;
  padding: 15px;
  margin: 15px;
  margin-bottom: 0px;
}

.selected {
  padding: 15px;
  background-color: #92064c;
  color: white;
}

.contain_mu {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "dd dd"
    "ee ee"
    "ff ff"
  ;
}

.popular {
  grid-area: dd;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.suggest {
  grid-area: ee;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.genre {
  grid-area: ff;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }




  .contain_ne {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "aaa"
    ;
  }
  .newspage_img {
    width: 95%;
    height: 400px;
    margin: 15px;
    display: inline-block;
  }

  .feed {
    grid-area: aaa;
    padding: 15px;
    margin: 15px;
    background-color: #696969;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .story_ne {
    width: 49%;
    display: inline-block;
  }
