.h_one {
  font-family: 'Dosis', sans-serif;
  font-size: 150px;
  font-style: italic;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 8px gray;
  margin: 0;
  padding: 0;

}
.h_two {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: white;
}
.h_three {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
.h_four {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: white;
}
.h_five {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}
a {
  text-decoration: none;
}

.menu {
  padding: 10px;
  background-color: #696969;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
  text-align: right;
}

/* .menu_item {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
} */

.logo {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px 8px gray;
  margin: 0;
  padding: 0;
}

.titl {
  text-align: center;
  padding: 30px;
  padding-top: 200px;
}

.view_change {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a b c"
  ;
}

.name {
  grid-area: a;
  padding: 30px;
  margin: 30px;
}
.view1 {
  grid-area: b;
  padding: 30px;
  margin: 30px;
}
.view2 {
  grid-area: c;
  padding: 30px;
  margin: 30px;
}

.selected {
  padding: 15px;
  background-color: #92064c;
  color: white;
}

.contain_mu {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "d d"
    "e e"
    "f f"
  ;
}

.full {
  background-color: #2e2e2e;
  margin-top: 0;
}

.nr_pix {
  margin-top: 10px;
}

.nr_img {
  width: 120px;
  height: 120px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.popular {
  grid-area: d;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.suggest {
  grid-area: e;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.genre {
  grid-area: f;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.scrolling {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }


.item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tc_img {
  width: 120px;
  display: inline-block;
  vertical-align: bottom;

}

.tc_info {
  display: inline-block;
  vertical-align: bottom;

}

.news_feed {
  grid-area: c;
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 0px 8px gray;
}

.story {
  padding-left: 30px;
  padding-right: 30px;
}

.nf_img {
  width: 100%;
  height: 200px;
}

.footer {

}
